$theme-color: #0064D3;
$black-howl: #1E1C2A;
$delicate-viola: #D5D4D8;
$box-office: #86848D;
$doctor: #F8F8F8;
$silver-phoenix: #E8E9F3;
$fly-kite: #C3D7F3;
$silk-crepe-mauve: #6F7096;
$pestering-pesto: #139A1C;
$smoky:  #615F6A;
$theme-font-family: 'Manrope', sans-serif;
